body {
  background-color: beige;
}

h3 {
  color: black;
  font-size: 200%;
  text-decoration: underline;
}
img {
  width: 80%;
  background: beige;
  
}
ul {
  list-style-type: none;
  background-color: black;
  margin: 0;
  width: 100%;
  padding: 10px;
  top: 0;
  left: 0;
  position: fixed;
}
li{
  display: inline;
  padding: 10px 20px;
  float: center;
}

a{
  text-decoration: none;
  color: grey;
  font-variant: small-caps;
}

li a:hover {
  background-color: beige;
  padding:
}
